/* 키맵 파일 맨 윗부분 */
/ {
    /* 시스템이 찾고 있는 이름표를 완전히 가짜로 선언 */
    pro_micro_i2c: i2c0 {
        status = "disabled";
        compatible = "nordic,nrf-twi";
        #address-cells = <1>;
        #size-cells = <0>;
    };
};

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                      &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T                       &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSLH
&kp CLCK  &kp A  &kp S  &kp D  &kp F  &kp G                       &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B  &kp C_MUTE &none     &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                 &kp LCTRL &kp LALT &kp LGUI &mo 1 &kp RET &kp SPACE &mo 2 &kp RGUI &kp RALT &kp RCTRL
            >;
        };
        // ... (레이어 1, 2는 이전과 동일하게 유지)
    };
};
